/* navbar */

.navbar-custom {
    /*background-color: #13abf7;*/
    background-color: rgb(74, 136, 148);
    border-radius: 0;
}

.navbar-custom .navbar-nav>li>a {
    color: white;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus {
    color: black;
    /*Sets the text hover color on navbar*/
}

h1 {
  text-align: center;
}

p {
    font-size: 1.25em;
}

.projectimg {
    width: 400px;
    height: auto;
}

.prpanel {
  margin-top: 5px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

.hover:hover {
    opacity: 0.7;
}

.projectgroup {
  font-family: 'Lato', sans-serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.email {
   text-align: center;
   padding-top: 5%;
}

.projdesc {
  font-size: 14px;
}
